<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <cpn></cpn>
    <cpn>
        <!--目的获取子组件中的languages数据-->
        <template slot-scope="slot">
<!--            <span v-for="item in slot.data">{{item}}- </span>-->
            <span>{{slot.abc.join(' - ')}}</span>
        </template>
    </cpn>
    <cpn></cpn>
</div>

<template id="cpn">
    <div>
        <slot :abc="languages">
            <ul>
                <li v-for="item in languages">{{item}}</li>
            </ul>
        </slot>
    </div>
</template>

<script src="../js/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            message: '你好啊'
        },
        components: {
            cpn: {
                template: '#cpn',
                data() {
                    return {
                       languages: ['java', 'c++', 'c', 'javascript']
                    }
                }
            }

        }
    })
</script>

</body>
</html>